  /* 1 forma de usar fonte */
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jim+Nightshade&family=Konkhmer+Sleokchher&display=swap');

  /* 2 forma de usar fonte */
  /*@font-face {
      font-family: Inter-4.1;
      src: url(../assets/fonts/Inter-4.1/Inter.ttc),
      url(../assets/fonts/Inter-4.1/InterVariable-Italic.ttf),
      url(../assets/fonts/Inter-4.1/InterVariable.ttf);
  }*/

  /* variaveis */
  :root {
    --cor-azul-escuro1: #233342;
    --cor-azul-escuro2: #30404E;
    --cor-azul-escuro3: #081B2D;
    --cor-azul-escuro4: #0C263E;
    --cor-azul-escuro5: #031323;
    --cor-preto: #000000;
    --cor-azul1: #00408E;
    --cor-azul2: #0087FF;
    --cor-azul-claro1: #6B9AC4;
    --cor-azul-claro2: #9BCFFC;
    --cor-azul-claro3: #BFE1FF;
    --cor-azul-claro4:#B0BCC5;
    --cor-azul4: #5183B2;
    --cor-branco: #DCE0E3;

    --borda: 3px solid var( --cor-azul-escuro4);
    --borda-arredondada: 10px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
  }

  * {
    padding: 0;
    /*espaço interno*/
    margin: 0;
    /*espaço exnterno*/
    box-sizing: border-box;
    /*atribui espaço interno/externos e bordas no tamanho final do box*/
    font-family: "Konkhmer Sleokchher", system-ui;
    outline-color: var(--cor-azul-claro1)
  }


  body {
    background-color: var(--cor-azul-escuro1);
  }

  h1 {
    position: absolute;
    /*altera a posição do elemento*/
    z-index: -1;
    /*camadas do elemento*/
    opacity: 0;
    /*opacidade*/
  }

  /* formulario */

  .formulario-botao-azul {
    background-color: var(--cor-azul2);
    border-radius: var(--borda-arredondada);
    border: none;

  
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);

    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .formulario-campos>input{
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-azul4);

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);

  }

  .formulario-campos>label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branco);
    font-weight: 400;
    text-shadow: var(--cor-preto);
  }

  .estilo-formulario {
    width: 100%;
    background-color: var(--cor-azul-escuro3);
    border-radius: var(--borda-arredondada);
}

#campo-upload{
  display: none;
}

#botao-upload{
  display: inline-block;
  background-color: var(--cor-azul1);
  width: 100%;
  max-width: 300px;
  min-height: 35px;
  padding: 5px;
  text-align: center;
  border: var(--borda1);
  border-radius: var(--borda-arredondada);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-azul-claro4);
}

.card-publi>.textopubli{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
}


  .campo-upload {
    background-color: var(--cor-azul2);
    border-radius: var(--borda-arredondada);
    border: none;

  
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
  }


 /* cabecalho */


 #foto-logo{
  height: 40px;
}


#cabecalho{
  background-color: var(--cor-azul-escuro1);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: var(--borda);
}

#logo-mobile{
  display: none;
}

#cabecalho > nav{
background-color: var(--cor-azul-escuro1);
width: 85%;
max-width: 900px;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.cabecalho-acoes{
  display: flex;
  align-items: center;
  gap: 15px;
}

.cabecalho-acoes > a{
  display: flex;
  align-items: center;

}

.foto-perfil{
  width: 40px;
  height: 40px;
  object-fit: cover;/*mantem a propor*/
  object-position: center;
  border-radius: 50%;
}

#logo-mobile,#logo-desktop{
  height: 40px;
}


/* responsivo */

@media only screen and (max-width: 500px) {
  #logo-mobile {
    display: initial;
  }

  #logo-desktop {
    display: none;
  }

}


